* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: hsl(204, 43%, 93%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 12.8px);
    max-width: 100%;
}


h2{ /** Cyan **/
    color: hsl(179, 62%, 43%);
    padding-bottom: 1.2rem; 
}

h3.yellow-title{ /** Bright Yellow **/
    color: hsl(71, 73%, 54%);
    padding-bottom: 0.5rem;
}

h3{ /** Ligth Gray **/
    color: hsl(204, 43%, 93%);
}

.header p { /** Grayish Blue **/
    color:  hsl(218, 22%, 67%) ;
}

.subscription p, .why-us{
    color:hsl(204, 43%, 93%);
}

.button {
    display: flex;
    align-items: center;
    background-color:hsl(71, 73%, 54%);
    color: white;
    font-weight: bold;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 6px;
    border-left: none;
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
}


.button:hover {
    background: hsl(71, 73%, 48%);
}
 
.header {
    background:white;
    padding: 40px;
    border-radius: 6px 6px 0 0;
    border-left: none;
    line-height: 2rem;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    

 }

.subscription {
    background: hsl(179, 62%, 43%);
    padding: 40px;
    border-radius: 0px 0px 0px 6px;
    border-left: none;
    justify-items: center;

}

.why-us {
    background: #4abebd;
    padding: 40px;
    border-radius: 0px 0px 6px 0px;
    border-left: none;
    
}

.why-us p {
    font-size: 14px;
    line-height: 1.4rem ;
}

.why-us h3{
    padding-bottom: 0.8rem;
}

.container .subscription h3{
    padding-bottom: 0.8rem;
}

.container .subscription #dollar{
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 0.6rem;
}

.container .subscription #full-access{
    padding-bottom: 1.8rem;
}

.container .subscription{
    justify-content: center;
}

.container .subscription span {
    font-size: 14px;
    color: hsla(0, 0%, 95%, 0.521);
    font-weight: lighter;
    vertical-align: middle;
      
}

footer{
    display: none;
}

